<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>URL Shortener</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <div class='navbar-title'>
          <img
            class='navbar-logo'
            src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
            alt=''
          />
          <a href='./' class='navbar-name'>URL Shortener</a>
        </div>
      </nav>
    </header>
    {{{body}}}
    <script src='javascripts/index.js'></script>
  </body>
</html>