<div class='error-box'>
  <p class='error-msg'>Sorry, couldn't find Shorten URL
    <span class='error-url'>http://localhost:3000/{{randomIndex}}</span>
  </p>
  <a href='/'><button class='error-btn'> Go Create!</button></a>
</div>