<header>
  <nav>
    <div class='navbar-title'>
      <img
        class='navbar-logo'
        src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
        alt=''
      />
      <a href='./' class='navbar-name'>URL Shortener</a>
    </div>
  </nav>
</header>

<section class='product'>
  <div class='url-area'>
    <span class='url-area-name'>URL Shortener</span>
    <img
      src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
      alt=''
      class='url-area-logo'
    />
  </div>

  <form action='./' method='POST' class='url-form'>
    <input
      type='url'
      class='url-input'
      name='url'
      placeholder='Input URL here'
    />
    <button class='url-button' type='submit'>Shorten</button>
  </form>

</section>