/* CSS reset below */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}
/* CSS reset above */

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  -webkit-box-shadow: 12px 10px 21px 4px rgba(191, 182, 182, 0.87);
  box-shadow: 12px 10px 21px 4px rgba(191, 182, 182, 0.87);
}

.navbar-title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar-logo {
  width: 30px;
}

.navbar-name {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}

.product {
  margin: 2rem auto 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.url-area {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.url-area-name {
  font-size: 3rem;
  font-weight: 700;
}

.url-area-logo {
  width: 250px;
}

.url-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.url-input {
  width: 45%;
  height: 50px;
  font-size: 1.8rem;
  border: none;
  text-align: center;
  background-color: antiquewhite;
}

.url-button {
  margin-top: 0.8rem;
  width: 80px;
  height: 40px;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  background-color: rgb(185, 90, 55);
  border-radius: 10px;
}

.url-button:hover {
  background-color: rgb(233, 108, 62);
  cursor: pointer;
}

.url-output {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  padding: 1rem;
  margin-bottom: 1.3rem;
  background-color: cornsilk;
  border: 3px dashed firebrick;
  border-radius: 2rem;
}

.url-output-display {
  /* display: none; */
}

.url-output-info {
  font-size: 1.6rem;
  font-weight: 500;
  color: brown;
}

.url-output-area {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.url-output-text {
  width: 400px;
  height: 50px;
  border: none;
  background-color: rgb(254, 255, 168);
  text-align: center;
  font-size: 2rem;
}

.url-output-button {
  width: 80px;
  height: 40px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  text-align: center;
  background-color: darkgreen;
  border-radius: 10px;
  cursor: pointer;
}
.url-output-button:hover {
  background-color: lightgreen;
}

.error-box {
  width: 550px;
  height: 200px;
  background-color: bisque;
  border: 5px dotted orangered;
  border-radius: 20px;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.error-msg {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
}

.error-url {
  font-weight: 800;
  color: indianred;
}

.error-btn {
  width: 100px;
  height: 50px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  text-align: center;
  background-color: rgb(228, 93, 15);
  border-radius: 10px;
  cursor: pointer;
}

.error-btn:hover {
  color: rgb(56, 56, 56);
  background-color: rgb(255, 169, 119);
}
